<p-table
  id="activities_p-table"
  [value]="userActivities"
  [paginator]="true"
  [pageLinks]="10"
  [totalRecords]="totalCount"
  [rows]="paginator.perPage"
  [responsive]="true"
  [resizableColumns]="true"
  [rowsPerPageOptions]="pageSizes"
  [lazy]="true"
  (onLazyLoad)="loadDataOnChange($event)"
>
  <ng-template pTemplate="caption">
    <div style="text-align: right" *ngIf="authService.isAdmin()">
      <a routerLink="/activities/new" class="btn btn-success table-btn-new">
        Novo
        <span class="fa fa-plus"></span>
      </a>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>

      <th>
        Ações
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-activity>
    <tr>
      <td>{{ activity.name }}</td>
      <td>{{ activity.agenda.start_date | date: 'dd/MM/yyyy'}}</td>
      <td>{{ activity.description }}</td>
      <td>{{ dictionary.activityTypes[activity.activity_type] }}</td>
      <td>
        <span
          class="label"
          [class.activity-not-started]="activity['status'] === 'not_started'"
          [class.activity-in-progress]="activity['status'] === 'in_progress'"
          [class.activity-finished]="activity['status'] === 'finished'"
        >
          {{ dictionary.activityStatuses[activity.status] }}
        </span>
      </td>
      <td>{{ activity.customer_name }}</td>
      <td>{{ activity.annotations }}</td>

      <td>
        <a [routerLink]="['/activities', activity.id]" class="btn btn-info mr-10" title="Detalhes">
          <i class="fa fa-info-circle"></i>
        </a>

        <button class="btn btn-danger" (click)="delete(activity)" *ngIf="authService.isAdmin()" title="Excluir">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog #deleteUserActivityDialog>
  <p-footer>
    <button class="btn btn-danger mr-10" type="button" (click)="deleteUserActivityDialog.accept()">Sim</button>
    <button class="btn btn-default" type="button" (click)="deleteUserActivityDialog.reject()">Não</button>
  </p-footer>
</p-confirmDialog>
