<p-table
  id="agendas_p-table"
  [value]="rows"
  [paginator]="true"
  [pageLinks]="10"
  [totalRecords]="totalCount"
  [rows]="paginator.perPage"
  [responsive]="true"
  [resizableColumns]="true"
  [rowsPerPageOptions]="pageSizes"
  [lazy]="true"
  (onLazyLoad)="loadDataOnChange($event)"
>
  <ng-template pTemplate="caption">
    <div style="text-align: right" *ngIf="authService.isAdmin()">
      <a routerLink="/agendas/new" class="btn btn-success" style="color: white; margin: 5px;">
        Novo
        <span class="fa fa-plus"></span>
      </a>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>

      <th>
        Ações
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-agenda>
    <tr>
      <td>{{ agenda.name }}</td>
      <td>{{ agenda.start_date | date: 'dd/MM/yyyy' }}</td>
      <td>{{ agenda.activities.length }}</td>
      <td>{{ agenda.open_activities_count }}</td>
      <td>{{ agenda.customers.length }}</td>

      <td>
        <a [routerLink]="['/agendas', agenda.id]" class="btn btn-info mr-10" title="Detalhes">
          <i class="fa fa-info-circle"></i>
        </a>

        <button class="btn btn-danger" (click)="delete(agenda)" *ngIf="authService.isAdmin()" title="Excluir">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog #deleteUserAgendaDialog>
  <p-footer>
    <button class="btn btn-danger" type="button" (click)="deleteUserAgendaDialog.accept()">Sim</button>
    <button class="btn btn-default" type="button" (click)="deleteUserAgendaDialog.reject()">Não</button>
  </p-footer>
</p-confirmDialog>
