<h1 class="text-center page-header">{{ getUsersListTitle() }}</h1>

<p-table
  id="users_table"
  #usersTable
  [value]="users"
  [paginator]="true"
  [pageLinks]="10"
  [totalRecords]="totalCount"
  [rows]="paginator.perPage"
  [responsive]="true"
  [resizableColumns]="true"
  [rowsPerPageOptions]="pageSizes"
  [lazy]="true"
  (onLazyLoad)="loadDataOnChange($event)"
>
  <ng-template pTemplate="caption">
    <div class="text-align-left">
      <a [routerLink]="['/users/new']" [queryParams]="{ 'userType': userListingType}" class="btn btn-success table-btn-new">
        Novo
        <span class="fa fa-plus"></span>
      </a>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>

      <th>
        Ações
      </th>
    </tr>

    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'registration'" [name]="col.field" pInputText type="text" (change)="handleFilter($event)">
        <input *ngSwitchCase="'name'" [name]="col.field" pInputText type="text" (change)="handleFilter($event)">
        <input *ngSwitchCase="'email'" [name]="col.field" pInputText type="text" (change)="handleFilter($event)">
        <input *ngSwitchCase="'cpf'" [name]="col.field" pInputText type="text" (change)="handleFilter($event)">
        <input *ngSwitchCase="'cellphone'" [name]="col.field" pInputText type="text" (change)="handleFilter($event)">
      </th>

      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr>
      <td *ngFor="let col of columns" pResizableColumn>
        {{ formatColValueWithPipe(col.field, user[col.field]) }}
      </td>

      <td>
        <a [routerLink]="['/users', user.id]" [queryParams]="{ 'userType': userListingType}" class="btn btn-info mr-10" title="Detalhes">
          <span class="fa fa-info-circle"></span>
        </a>

        <button class="btn btn-danger" (click)="delete(user)" title="Excluir">
          <span class="fa fa-trash"></span>
        </button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorright">
    Página:
    <input
      id="go_to_page_input"
      type="number"
      class="go-to-page-input"
      (change)="changePageNumber($event)"
    />
  </ng-template>
</p-table>

<p-confirmDialog #deleteUserDialog>
  <p-footer>
    <button class="btn btn-danger" type="button" (click)="deleteUserDialog.accept()">Sim</button>
    <button class="btn btn-default" type="button" (click)="deleteUserDialog.reject()">Não</button>
  </p-footer>
</p-confirmDialog>
