<h1 class="text-center page-header">Usuários</h1>

<p-table
  id="users_p-table"
  [value]="users"
  [paginator]="true"
  [pageLinks]="10"
  [totalRecords]="total_count"
  [rows]="paginator.per_page"
  [responsive]="true"
  [resizableColumns]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [lazy]="true"
  (onLazyLoad)="loadDataOnChange($event)"
>
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <a [routerLink]="['/users/new']" class="btn btn-success" style="color: white; margin: 5px;">
        Novo
        <span class="fa fa-plus"></span>
      </a>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>

      <th>
        Ações
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr>
      <td *ngFor="let col of columns" pResizableColumn>
        {{user[col.field]}}
      </td>

      <td>
        <a [routerLink]="['/users', user.id]" class="btn btn-info">
          Detalhes
          <span class="fa fa-info-circle"></span>
        </a>

        <button class="btn btn-danger" (click)="delete(user)">
          Excluir
          <span class="fa fa-trash"></span>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog #deleteUserDialog>
  <p-footer>
    <button class="btn btn-danger" type="button" (click)="deleteUserDialog.accept()">Sim</button>
    <button class="btn btn-default" type="button" (click)="deleteUserDialog.reject()">Não</button>
  </p-footer>
</p-confirmDialog>
