<h1 class="text-center page-header">Usuários</h1>

<p-table id="users_p-table" [value]="users" [paginator]="true" [rows]="10" [responsive]="true" [resizableColumns]="true">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Filtre por aqui" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>

      <th>
        Acoes
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr>
      <td *ngFor="let col of columns" pResizableColumn>
        {{user[col.field]}}
      </td>

      <td>
        <a [routerLink]="['/users', user.id]" class="btn btn-info">
          Detalhes
          <span class="fa fa-info-circle"></span>
        </a>

        <button class="btn btn-danger" (click)="delete(user)">
          Excluir
          <span class="fa fa-trash"></span>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
