<div class="container-fluid">
  <h1 class="page-header text-center">
    <strong> {{ entity.id ? 'Edição' : 'Cadastro' }} de Agenda </strong>
  </h1>

  <form [formGroup]="form" class="text-center" (ngSubmit)="createOrUpdate()" (keydown.enter)="$event.preventDefault()">
    <div class="row">
      <div class="form-group col-lg-3 col-lg-offset-2" [ngClass]="formUtils.fieldClassForErrorOrSuccess('name')">
        <label for="name" class="control-label">Nome *</label>
        <input
          id="name"
          formControlName="name"
          class="form-control"
          placeholder=""
          type="text"
        />

        <div class="text-danger" *ngIf="formUtils.showFieldError('name')">
          <div *ngIf="form.get('name')['errors']['required']"><strong>Nome</strong> é obrigatório</div>
        </div>

        <br />

        <label for="start_date" class="control-label">Data de inicio *</label>
        <input
          id="start_date"
          formControlName="start_date"
          class="form-control"
          placeholder="01/01/2018"
          type="date"
        />

        <div class="text-danger" *ngIf="formUtils.showFieldError('start_date')">
          <div *ngIf="form.get('start_date')['errors']['required']"><strong>Data de inicio</strong> é obrigatória</div>
        </div>

        <br />

        <label for="employee" class="control-label">Funcionário *</label>
        <select
          id="employee"
          class="form-control"
          formControlName="employee_id"
        >
          <option *ngFor="let option of employees" [value]="option['id']">{{ option['name'] }}</option>
        </select>

        <div class="text-danger" *ngIf="formUtils.showFieldError('employee_id')">
          <div *ngIf="form.get('employee_id')['errors']['required']"><strong>Funcionário </strong> é obrigatório</div>
        </div>
      </div>

      <div class="form-group col-lg-3">
        <label class="control-label">Clientes</label>

        <div class="box box-solid">
          <div class="box-body" style="height: 138px; overflow-y: scroll;">
            <ol *ngIf="customersCpf.length > 0">
              <li *ngFor="let cpf of customersCpf" style="margin-bottom: 2px;">
                <span style="border: 1px solid #cacaca; border-radius: 5px; padding: 5px 15px; margin-right: 10px;">{{ cpf }}</span>
                <i class="fa fa-times" style="color: red; cursor: pointer;" (click)="removeCpf($event, cpf)"></i>
              </li>

            </ol>
            <span *ngIf="customersCpf.length === 0">Nenhum cliente registrado para esta agenda</span>
          </div>
        </div>

        <div class="ui-inputgroup">
          <input
            id="customers_cpf_add_input"
            class="form-control"
            formControlName="currentCpf"
            placeholder="000.000.000-00"
            type="text"
            [textMask]="{ mask: cpfMask }"
            (keyup.enter)="addCpf()"
          />
          <button class="btn btn-sm btn-primary" type="button" (click)="addCpf()">Incluir</button>
          <button class="btn btn-sm btn-danger" type="button" (click)="clearCpfs()">
            Limpar lista
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-2">
        <p-messages [(value)]="msgs" key="agenda_detail_messages"></p-messages>
      </div>
    </div>

    <br/>

    <div class="row text-center">
      <div class="col-lg-12">
        <button type="submit" class="btn btn-success" >{{ entity.id ? 'Atualizar' : 'Cadastrar' }}</button>
        <button type="button" class="btn btn-default" (click)="goBack()">Voltar</button>
      </div>
    </div>
  </form>
</div>
