<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <!-- Main Header -->
    <app-header></app-header>
    <app-aside></app-aside>
    <app-content></app-content>
    <app-footer></app-footer>
    <app-control-sidebar></app-control-sidebar>
  </div>
</body>
</html>
