<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sycomm</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper" *ngIf="authService.userSignedIn()">
    <app-header></app-header>
    <app-left-sidebar></app-left-sidebar>
    <app-content></app-content>
    <app-footer></app-footer>
    <app-control-sidebar></app-control-sidebar>
  </div>
  <app-sign-in *ngIf="!authService.userSignedIn()"></app-sign-in>
</body>
</html>
