<div class="container-fluid" *ngIf="authService.userSignedIn()">
  <div class="row">
    <h3 class="page-header text-center">
      <strong> {{ getTitle() }} </strong>
    </h3>

    <div class="box box-info" *ngIf="authService.isAdmin()">
      <div *ngIf="employeesWithDayActivities.length == 0">
        <p class="text-center" style="line-height: 5em;">Nenhuma atividade para hoje</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 employees-activities-card" *ngFor="let employee of employeesWithDayActivities">
      <div class="box box-info">
        <div class="box-header with-border">
          <span class="info-box-icon" style="margin-right: 7px"><i class="fa fa-user-circle"></i></span>
          <h3 class="box-title">{{ employee.name }} ({{ employee.activities?.length > 0 ? employee.activities?.length : '0' }} atividades)</h3>
          <br>
          <br>
          <p *ngIf="employee.last_sign_in_at">Último acesso em {{ employee.last_sign_in_at | date: 'dd/MM/yyyy hh:MM:ss' }}</p>
          <p *ngIf="!employee.last_sign_in_at">Nunca acessou o sistema</p>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>

        <div class="box-body">
          <div class="info-box" *ngFor="let activity of employee.activities">
            <div class="info-box-content info-box-content-no-margin">
              <span class="">
                <a [routerLink]="['/activities', activity.id]">
                  {{ activity.name }}
                </a>
              </span>

              <br />

              <span
                class="label"
                [class.activity-not-started]="activity['status'] === 'not_started'"
                [class.activity-in-progress]="activity['status'] === 'in_progress'"
                [class.activity-finished]="activity['status'] === 'finished'"
              >
              {{ dictionary.activityStatuses[activity.status] }}
              </span>

              <br/>
              <br/>

              <span class="">{{ activity.description }}</span>
            </div><!-- /.info-box-content -->
          </div><!-- /.info-box -->
        </div>
      </div>
    </div>
  </div>


  <!-- EMPLOYEE DAY ACTIVITIES -->
  <div class="box box-info" *ngIf="authService.isEmployee()">
    <div class="box-header with-border">
      <h3 class="box-title">Minhas atividades de hoje ({{ employeeDayActivities?.length > 0 ? employeeDayActivities?.length : '0' }})</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
            <tr>
              <th>Atividade</th>
              <th>Status</th>
              <th>Tipo</th>
              <th>Data</th>
              <th>Descrição</th>
              <th>Cliente</th>
              <th>Última movimentação</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let activity of employeeDayActivities">
              <td><a [routerLink]="['/activities', activity.id]">{{ activity.name }}</a></td>
              <td>
                <span
                  class="label"
                  [class.activity-not-started]="activity['status'] === 'not_started'"
                  [class.activity-in-progress]="activity['status'] === 'in_progress'"
                  [class.activity-finished]="activity['status'] === 'finished'"
                >
                  {{ activityDictionary[activity.status] }}
                </span>
              </td>
              <td>{{ activityTypesDictionary[activity.activity_type] }}</td>
              <td>{{ activity.agenda.start_date | date: 'dd/MM/yyyy'}}</td>
              <td>{{ activity.description }}</td>
              <td><a [routerLink]="['/users', activity.customer_id]" [queryParams]="{ 'userType': 'Customer'}">{{ activity.customer_name }}</a></td>
              <td>{{ activity.updated_at | date: 'dd/MM/yyy HH:mm' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>

    <div class="box-body" class="text-center" *ngIf="employeeDayActivities?.length == 0">
      <p>Nenhuma atividade para hoje. Vá descansar um pouco <i class="fa fa-smile-o"></i></p>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <!--<a [routerLink]="['/activities/new']" class="btn btn-success btn-flat pull-left">+ Nova atividade</a>-->
      <a [routerLink]="['/activities']" class="btn btn-primary btn-flat pull-right">Ver todas as atividades</a>
    </div>
    <!-- /.box-footer -->
  </div>
  <!-- /.box -->

  <!-- EMPLOYEE LAST ACTIVITIES -->
  <div class="box box-info" *ngIf="authService.isEmployee()">
    <div class="box-header with-border">
      <h3 class="box-title">Minhas atividades de ontem ({{ employeeLastActivities?.length > 0 ? employeeLastActivities?.length : '0' }})</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body" *ngIf="employeeLastActivities?.length > 0">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
          <tr>
            <th>Atividade</th>
            <th>Tipo</th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Cliente</th>
            <th>Ultima movimentação</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let activity of employeeLastActivities">
            <td>
              <a [routerLink]="['/activities', activity.id]">{{ activity.name }}</a>
            </td>
            <td>{{ activityTypesDictionary[activity.activity_type] }}</td>
            <td>{{ activity.agenda.start_date | date: 'dd/MM/yyyy'}}</td>
            <td>{{ activity.description }}</td>
            <td><span
                  class="label"
                  [class.activity-not-started]="activity['status'] === 'not_started'"
                  [class.activity-in-progress]="activity['status'] === 'in_progress'"
                  [class.activity-finished]="activity['status'] === 'finished'"
                >
                  {{ activityDictionary[activity.status] }}
                </span>
            </td>
            <td><a [routerLink]="['/users', activity.customer_id]" [queryParams]="{ 'userType': 'Customer'}">{{ activity.customer_name }}</a></td>
            <td>{{ activity.updated_at | date: 'dd/MM/yyy HH:mm' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-body" class="text-center" *ngIf="employeeLastActivities?.length == 0">
      <p>Nenhuma atividade ontem.</p>
    </div>

    <div class="box-footer clearfix">
      <!--<a [routerLink]="['/activities/new']" class="btn btn-success btn-flat pull-left">+ Nova atividade</a>-->
      <a [routerLink]="['/activities']" class="btn btn-primary btn-flat pull-right">Ver todas as atividades</a>
    </div>
    <!-- /.box-footer -->
  </div>
  <!-- /.box -->
</div>
