/* You can add global styles to this file, and also import other style files */

@import "./assets/primeng-custom.scss";

.activity-not-started {
  background-color: red;
}
.activity-in-progress {
  background-color: dodgerblue;
}

.activity-finished {
  background-color: forestgreen;
}

.go-to-page-input {
  text-align: center;
  width: 7em;
}

a.link-like:hover {
  cursor: pointer;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.swal2-popup.swal2-modal.swal2-show {
  font-size: 1em;
}

tbody.ui-table-tbody tr td {
  text-overflow: ellipsis;
}

.table-btn-new {
  color: #FFF !important;
}

.text-align-right {
  text-align: right;
}
